/* header */
.navigation {
  max-width: 1100px;
  width: 90%;
  margin: 40px auto;
}
.nav-ul {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-ul li:nth-child(1) {
  color: #13183f;
  font-size: 22px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.nav-ul button {
  max-width: 167px;
  height: 56px;
  background-color: #13183f;
  color: white;
  border-radius: 15px;
  padding: 20px;
  border: none;
  outline: none;
  z-index: 10;
  position: relative;
}
.nav-ul button:hover {
  cursor: pointer;
}

/* body section1 */
.sec-1 {
  max-width: 1100px;
  width: 90%;
  margin: 40px auto;
}
.wrapper {
  display: flex;
  gap: 50px;
}
.sec1-left-block {
  width: 500px;
}
.sec1-left-block h1 {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 56px;
  line-height: 71px;
  color: #13183f;
}
.sec1-left-block p {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: #83869a;
  margin: 40px 0;
}
.sec1-left-block a {
  border: none;
  outline: none;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 28px;
  color: white;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  border-radius: 31.5px;
  padding: 17px 33px;
}
.sec1-left-block a:hover {
  cursor: pointer;
}

.sec1-right-block {
  width: 500px;
  position: relative;
}

.sec1-right-block img {
  width: 700px;
  position: absolute;
  right: -450px;
  top: -100px;
}
.mobile-version-photo {
  display: none;
  width: 400px;
  height: 300px;
  background-image: url("../assets/image-hero-mobile.png");
}

/* body section2 */

.sec-2 {
  max-width: 1100px;
  width: 90%;
  margin: 40px auto;
}
.sec2-upperblock {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.text {
  max-width: 500px;
  width: 80%;
  height: 322px;
  background: linear-gradient(180deg, #ff6f48 0%, #f02aa6 100%);
  margin-top: 250px;
  border-radius: 15px;
}
.text h1 {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-style: normal;
  font-weight: 800;
  font-size: 32px;
  line-height: 40px;
  color: #fff;
  margin-left: 30px;
  margin-top: 70px;
}
.animation {
  max-width: 350px;
  width: 80%;
  height: 322px;
  margin-top: 250px;
}
.sec2-upperblock h1 {
  margin-top: 38px;
  margin-bottom: 24px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
.sec2-upperblock p {
  max-width: 286px;
  max-height: 112px;
  height: 100%;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #83869a;
  margin-bottom: 24px;
}
.sec2-upperblock a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
}
.design {
  max-width: 350px;
  width: 80%;
  height: 322px;
  margin-top: 250px;
}
.sec2-lowerblock {
  display: flex;
  justify-content: space-between;
  gap: 200px;
}
.photography {
  max-width: 350px;
  height: 322px;
  margin-top: 70px;
}
.crypto {
  max-width: 350px;
  height: 322px;
  margin-top: 70px;
}
.business {
  max-width: 350px;
  height: 322px;
  margin-top: 70px;
}
.sec2-lowerblock h1 {
  margin-top: 38px;
  margin-bottom: 24px;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
}
.sec2-lowerblock p {
  max-width: 286px;
  max-height: 112px;
  height: 100%;
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 28px;
  color: #83869a;
  margin-bottom: 24px;
}
.sec2-lowerblock a {
  font-family: "Plus Jakarta Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 28px;
  color: #f74780;
}

footer .navigation {
  background-color: #13183f;
  padding: 20px;
}
footer a {
  color: white;
}
footer button {
  background: linear-gradient(180deg, #4851ff -54.32%, #f02aa6 100%);
  margin-right: 30px;
}
